/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@font-face {
  font-family: 'Pokemon';
  src: url('fonts/pokemon_pixel_font.eot?') format('eot'),
    url('fonts/pokemon_pixel_font.woff') format('woff'),
    url('fonts/pokemon_pixel_font.ttf') format('truetype'),
    url('fonts/pokemon_pixel_font.svg#Pokemon-Pixel-Font') format('svg');
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
}

body {
}

.common-form {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.full-line {
  grid-column: 1/-1;
}

.dex-entry {
  width: 370px;
  textarea{
  font-family: 'Pokemon', monospace;
  white-space: nowrap;
}
}
